<% content_for :title do %>Boulder Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
      <div data-id="pivot_faces_boulder" data-view="PivotFaces"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <i style="margin-top:25px" class="icon-time icon-background"></i>
      <div data-view="Clock"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="4" data-sizey="2">
      <div data-id="traffic" data-view="Traffic" data-url="http://www.mapquest.com/embed?hk=1BnQxBO"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="4" data-sizey="2">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#55c4eb;"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="rotating_clock" data-view="RotatingClock"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="forecast-boulder" data-view="Forecast"></div>
    </li>
		<li data-row="2" data-col="4" data-sizex="2" data-sizey="2">
	    <div data-id="foos" data-view="ServerStatusSquares" data-title="Foos Table"></div>
		</li>
  </ul>
</div>
<iframe style="height: 270px; width: 450px;" src="" marginwidth="0" marginheight="0" frameborder="0" scrolling="no"></iframe>