.widget-rotating-clock {
  background-color: #3c3d62;

  .date {
    font-size: 2.2em;
    font-weight: bold;
//    padding-bottom: 48px;
  }

  .time {
    font-size: 2.2em;
    font-weight: bold;
		  position: relative;
		  bottom: 10px;
		  left: 0;
		  right: 0;
		  width: 90%;
		  border-top: none;
		  margin: auto;
  }

  .city {
    font-size: 2.2em;
  }
}
